{% extends "app_gestao_de_livros/pages/base.html" %}

{% block titulo %} Editar cadastro {% endblock  %}

{% block conteudo %}

<h1 style="text-align: center; margin-top: 2rem;">Editar livro {{livro.titulo}}</h1>
<div class="container">
    <form action="{% url 'salvar_edit' livro.id %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
            <label  class="label-form" for="titulo">Titulo</label>
            <input class="form-control" id="titulo" name="titulo" type="text" value="{{livro.titulo}}" >
        </div>
        <div class="mb-2">
            <label  class="label-form" for="autor">Autor</label>
            <input class="form-control" id="autor" name="autor" type="text" value="{{livro.autor}}">
        </div>
        <div class="mb-2">
            <label class="label-form" for="qtd_pagina">Quantidade de paginas</label>
            <input class="form-control" id="qtd_pagina" name="qtd_pagina" type="text" value="{{livro.quantidade_paginas}}">
        </div>
        <div class="mb-2">
            <label  class="label-form" for="data_publicacao">Ano de publicação</label>
            <input class="form-control" id="data_publicacao" name="data_publicacao" type="date" value="livro.ano_publicacao">
        </div>
        <button type="submit" class="btn btn-primary">Salvar Livro</button>
    </form>

</div>

{% endblock  %}