{% extends "cadastro_produtos/pages/base.html" %}

{% block  conteudo %}

<h1>Formulario de cadastro</h1>
<div class="container">
   
    <form action="" class="form-container" method="post">
        <div class="form-container-div">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-input" id="nome" name="nome" placeholder="Digite o nome do produto...">
        </div>
        <div class="form-container-div">
            <label class="form-label" for="descricao">Descrição</label>
            <textarea name="descricao" class="form-input" id="descricao" placeholder="Descrição do produto..."></textarea>
        </div>
        <div class="form-container-div">
            <label class="form-label" for="preco">Preço</label>
            <input type="text" class="form-input" id="preco" name="preco" placeholder="0">
        </div>
        <div class="form-container-div">
            <label class="form-label" for="">Categoria</label>
            <input type="text" class="form-input" id="categoria" name="categoria" placeholder="categoria do produto">
        </div>
        <div class="control-button">
            <button>Cadastrar</button>
        </div>
    </form>
</div>

{% endblock  %}